* {
    margin: 0;
    padding: 0;
}

body {
    background: black !important;

    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

img {
    margin-top: 0%;
    max-width: 100%;
}

h1 {
    color: cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    letter-spacing: 9px;
    margin-top: 10%;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.lead {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 10rem;
    padding: 1rem 18rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: cyan;
    letter-spacing: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;

    /* Scroll Snap */
    scroll-snap-align: center;
}



#modelp{
    color: aliceblue;
    padding-top: 9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#prediction{
    color: aliceblue;
}




label{
  display: inline-block;
  width: 140px;
  text-align: right;
  color: cyan;
}
select{
    display: inline-block;
}



section#model {
    background-color: black;
}
form{
    color: cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 100px;
    font-size: 15px;
    
   
}
button{
    cursor : pointer;
}
#result {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-top: 150px;
}

.button1 {
    background-color: white; 
    color: black; 
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 250px;
  }
  
  .button1:hover {
    background-color: cyan;
    color: black;
  }

